.blocklyToolboxDiv {
    width: 100px;
    background-color: #ffffff;
}

.blocklyToolboxDiv .blocklyTreeRoot{
    padding: 0;
}

.blocklyTreeRoot div[role=group]>div{
    margin: 1px 0 0 0;
}

.blocklyToolboxDiv .blocklyTreeRow {
    height: auto;
    padding: 0 0 0 10px !important;
    margin: 0;
    position: relative;
}

.blocklyToolboxDiv .blocklyTreeRow span:nth-child(1) {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 1px #d4d4d4 solid;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: transparent;
}
.blocklyToolboxDiv  .blocklyTreeSelected {
    background-color: transparent !important;
}

.blocklyToolboxDiv .blocklyTreeLabel {
    font-size: 16px;
    line-height: 48px;
    position: relative;
}

.blocklyToolboxDiv .blocklyTreeIcon  {
     /*display: none !important;*/
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width:10px;
     background-image: none;
 }

.blocklyToolboxDiv div[role="treeitem"]:nth-child(1) .blocklyTreeIcon {
    background-color: #82D26E;
}

.blocklyToolboxDiv div[role="treeitem"]:nth-child(2) .blocklyTreeIcon {
     background-color: #5ECAB8;
 }

.blocklyToolboxDiv div[role="treeitem"]:nth-child(3) .blocklyTreeIcon {
    background-color: #57BEF6;
}

.blocklyToolboxDiv div[role="treeitem"]:nth-child(4) .blocklyTreeIcon {
    background-color: #6CA4F5;
}

.blocklyToolboxDiv div[role="treeitem"]:nth-child(5) .blocklyTreeIcon {
    background-color: #A27BDB;
}

.blocklyToolboxDiv div[role="treeitem"]:nth-child(6) .blocklyTreeIcon {
    background-color: #D571F6
}

.blocklyToolboxDiv div[role="treeitem"]:nth-child(7) .blocklyTreeIcon {
    background-color: #dd9bf3
}

.blocklyToolboxDiv .blocklyTreeSelected .blocklyTreeIcon {
    animation:menuItemShow 0.2s;
    animation-fill-mode: forwards;
    z-index: 0;
}

.blocklySvg {
    background-color: #C1E6FC;
}

.blocklyFlyoutBackground {
    fill: #ffffff
}

@keyframes menuItemShow
{
    from {width:10px;}
    to {width:100%;}
}

.blocklyFlyoutButton {
    fill: #57BEF6;
}